{{define "content"}}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAeqClk2M8pHXTfJxZNxG40HymEUmAOxcM&sensor=false"></script>
<script src="/Web/Plugins/Transit/transit.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <div id="map"></div>
	<script> 
	    transit.initialize("#map",
                            "/Web/Plugins/Transit/teszt.kml",
							"https://raw.githubusercontent.com/gencsimatyas/RFT/master/RFT/src/Web/Plugins/Transit/teszt.kml",
                            "/Web/Plugins/Transit/teszt.json");
    </script>
{{end}}