{{define "content"}}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="/Web/Plugins/Transit/transit.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <style type="text/css">
         #ourMapDiv {
           width: 100%;
           height: 92%;
           margin-top: -20px;
         }
    </style>
    <div id="ourMapDiv"></div>
	<script>
         var ourTileLayer = L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                                attribution: "© <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, <a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>"
                            });

         transit.initialize("#ourMapDiv",
							ourTileLayer,
                            "/Web/Plugins/Transit/teszt.kml",
                            "/Web/Plugins/Transit/teszt.json");
      </script>
{{end}}
