{{define "content"}}
<style type="text/css">

body {
background: url(Web/Images/TrainsAndTickets/trainBlur.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.mainT {
  margin-top: 6%;
}

.inner {
  color: black;
  text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff;
  padding: 20;
}

.se {
  color: black;
  text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff;
}

.se:hover {
  color:red;
  text-decoration: none;
}

.separator {
  padding: 10;
}

.title {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff;
}

.description {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff;
  font-size: 20px;
  vertical-align: top;
}

table {
  font-family: 'Open Sans', sans-serif;
  border-width: thick;
  border-color: black;
}

</style>

<script>

  security();

  var wagons = {{ .Wagons }};
  var len = wagons.length;

  //document.cookie = "seat=0";
  //var seats = wagons[getCookie("seat")].Seats;

  //TODO:BEFEJEZNI A SELECTET

  $(document).ready(function(){
    var select = document.getElementById("wagonsSelect");

    for (i = 0; i < len; i++) {
      var option = document.createElement("option");
      option.text = wagons[i].WagonID + " ( " + wagons[i].Class + " osztály )";
      option.value = i;
      select.add(option);
    }

    $("#wagonsSelect").on('change', function(e) {
      window.alert( this.value );
      document.cookie = "seat=" + this.value;
    })
  });

  var numberOfSeats = wagons[0].NumberOfSeats;
  var sideOne = Math.floor(numberOfSeats / 2) + numberOfSeats % 2;
  var sideTwo = Math.floor(numberOfSeats / 2);
  var sideOneA = Math.floor(sideOne / 2) + sideOne % 2;
  var sideOneB = Math.floor(sideOne / 2);
  var sideTwoA = Math.floor(sideTwo / 2);
  var sideTwoB = Math.floor(sideTwo / 2) + sideTwo % 2;
  var seat;
</script>

<select id="wagonsSelect">

</select>

<table align="center" border="0" class="mainT">
  <tr>
    <td colspan="3" align="center" class="title">Helyjegy Választás</td>
  </tr>
  <tr>
    <td>
      <img src="Web/Images/TrainsAndTickets/train2.png" height="400px"/>
    </td>
    <td>
      <table border="1" align="center">
        <tr>
          <td>
            <table border="1">
                <tr align="center">
                  <script>
                    seat = 1;
                    for (i = 1; i <= sideOneA; i++) {
                      if (seats[seat]) {
                        color = "rgba(255, 0, 0, 0.5)";
                      } else {
                        color = "rgba(0, 255, 0, 0.5)";
                      }

                      document.write("<td class=\"inner\" style=\"background-color: " + color + ";\"><a href='#' class='se'>" + seat + "</a></td>");
                      seat += 4;
                    }
                  </script>
                </tr>
                <tr  align="center">
                  <script>
                    seat = 2;
                    for (i = 1; i <= sideOneB; i++) {
                      if (seats[seat]) {
                        color = "rgba(255, 0, 0, 0.5)";
                      } else {
                        color = "rgba(0, 255, 0, 0.5)";
                      }

                      document.write("<td class=\"inner\" style=\"background-color: " + color + ";\"><a href='#' class='se'>" + seat + "</a></td>");
                        seat += 4;
                    }
                  </script>
                </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="separator">
            <br/>
          </td>
        </tr>
        <tr>
          <td>
            <table border="1">
              <tr align="center">
                <script>
                  seat = 3;
                  for (i = 1; i <= sideTwoA; i++) {
                    if (seats[seat]) {
                      color = "rgba(255, 0, 0, 0.5)";
                    } else {
                      color = "rgba(0, 255, 0, 0.5)";
                    }

                    document.write("<td class=\"inner\" style=\"background-color: " + color + ";\"><a href='#' class='se'>" + seat + "</a></td>");
                    seat += 4;
                  }
                </script>
              </tr>
              <tr align="center">
                <script>
                  seat = 4;
                  for (i = 1; i <= sideTwoB; i++) {
                    if (seats[seat]) {
                      color = "rgba(255, 0, 0, 0.5)";
                    } else {
                      color = "rgba(0, 255, 0, 0.5)";
                    }

                    document.write("<td class=\"inner\" style=\"background-color: " + color + ";\"><a href='#' class='se'>" + seat + "</a></td>");
                    if (sideOneA > sideOneB && sideTwoB > sideTwoA && i == sideTwoB - 1) {
                      seat += 2;
                    } else if (sideOneA == sideOneB && sideTwoB > sideTwoA && i == sideTwoB - 1) {
                      seat += 3;
                    } else {
                      seat += 4;
                    }
                  }
                </script>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td class="description" align="right">
      Zöld  - szabad hely<br/>
      Piros - foglalt hely
    </td>
  </tr>
</table>
{{end}}
