#screenFiller {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 15px solid orange
}

body {
  background-color: #222222;
}

li#logo:hover {
  background-color: #222222;
}

li:hover {
  background-color: #525252;
}

hello {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 15;
}

hello:hover, li.hello:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

b {
  color: rgb(255, 255, 255);
}
