h1 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
}

table.header {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
}

table.im, table.header {
  font-family: 'Open Sans', sans-serif;
  width: 90%;
}

tr.im:nth-child(4n), tr.im:nth-child(4n+1) {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
}

tr.im:nth-child(4n+2), tr.im:nth-child(4n+3) {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
}

tr.im:first-child {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
}

table.inner {
  width: 95%;
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
}

table.inner tr:first-child {
  font-weight: bolder;
}

table.inner b {
  color: black;
}

tr#hidden {
  background-color: rgba(255, 255, 255, 0.6);
}

td {
  padding: 10px;
}

#hidden {
  display: none;
}
