{{define "content"}}
<style>
body {
  background: url(Web/Images/Register/backgroundblur.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

text {
  font-family: 'Open Sans', sans-serif;
	color:rgb(255,255,255);
	font-size:28px;
	outline: none;
	font-weight:600;
  position:absolute;
  top:40%;
  left:50%;
  margin-left:-250px;
  border:none;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
}

a.login, a.login:active, a.login:visited {
  color:rgb(0, 0, 0);
  border:none;
  text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff;
}

a.login:hover {
  text-decoration: none;
  text-shadow: 0 0 0.2em #737776, 0 0 0.2em #737776;
}

</style>
<text>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sikeres regisztráció!<br/>
  <a href="/Login" class="login">Ide</a> kattintva bejelentkezhet.
</text>
{{end}}
